
body {
  height: 100vh;
}

#main {
  width:100%;
  min-height: 100%;
  overflow:hidden;
}

/* Style the links inside the navigation bar */
.topnav {
  float: right;
  color: white;
  border-right: 1px solid #bbb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fracking_header {
  background-image: url("../img/frackingheader.jpg");
  height: 175px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


h1 {
    color:white;
    text-shadow: 0.1em 0.1em 0.1em black;
    font-size: 40px;
    padding-left: 16px;
}

.modal-header {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: left;
  font-size: 23px;
  color: white;
  background-color: #43BFC7;
  border-bottom: 0px;
}

#sidebar {
  position: absolute;
  overflow:hidden;
  top: 10%;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #50a3e2;
  color: white;
}

#sidebar{
  padding-top: 20px;
}

#sidebar label{
  font-size: 14px;
  font-family: sans-serif;
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
}

#map {
  height: 400px;
  width: 100%;
  margin: 16px;
  display: inline-block;
}

#externaldiv{
  height: 400px;
  width: 100%;
  margin: 16px;
  display: inline-block;
}


.legend {
  text-align: left;
  line-height: 18px;
  color: # 555;
  background-color: white;
  border-style: double;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
} 

.leaflet-popup-content p {
  margin: 0.2em 0;
}


body {

  background-color: white;
  margin: 0;
  font-family: C;
  width: auto;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
display: block;
}
